
.allPage{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header header'
  'SideBar body body body'
  'SideBar body body body'
  'SideBar body body body'
  'footer footer footer footer';
  grid-template-rows: 10% 70% 10%;
  grid-template-columns: 10%;
}

.header{
  background-color: #282c34;
  grid-area: header;
  display: flex;
  justify-content: center;
  color: #61dafb;
}
.body{
  grid-area: body;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  background-color: crimson;
}
.footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  color: #61dafb;
  background-color:darkolivegreen;
}


